body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background-color: aquamarine;
}

header strong {
  text-transform: uppercase;
  line-height:35px;
  margin-left: 20px;
}

.loading .dough, .dough-splash {
  display:none;
}

.loading .dough-splash {
  display: block;
}

.container {
  margin: 0 auto;
  min-width:320px;
  max-width:900px;
  padding: 0 20px;
}

.left {
  float:left;
}

.expenses {
  width: 70%;
}
.members {
  width: 30%;
}
